extends layout.pug

block content
  .bodyContainer.marginLeftLarge
    h2.blueFontColor.marginTop Movie Ranking of the Month
    - var showRanking = true
    include movie.pug
    h2.blueFontColor.marginTop Series Ranking of the Month
    - var showRanking = true
    include serie.pug

  include modal.pug
