extends layout.pug

block content
  .bodyContainer.marginLeftLarge
    h2.blueFontColor.marginTopLarge Movie Ranking of the Month
    - var showRanking = true
    include movie.pug
    h2.blueFontColor.marginTopLarge Series Ranking of the Month
    - var showRanking = true
    include serie.pug

  include modal.pug