doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Welcome to CineCanvas
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
  body
    header
      .header-container
        h1 Welcome to CineCanvas!
        nav
          a(href="/") Home
          a.nav_left(href="/about") About
          a.nav_left(href="/watchlist") Watchlist
          a.profile-icon(href="/profile")
            i.fas.fa-user
    
    block content

