doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
    title= title || 'CineCanvas'
  body
    header
      h1 CineCanvas
      button#loginBtn.login-btn Login
    nav
      ul
        li: a(href="/") Home
        li: a(href="/about") About
    block content
    footer
      p &copy; 2025 CineCanvas

    div#loginModal.modal
      div.modal-content
        span.close &times;
        h2 Login
        form
          label(for="username") Username:
          input(type="text" id="username" name="username" required)
          label(for="password") Password:
          input(type="password" id="password" name="password" required)
          button(type="submit") Login

    script(src="/js/scripts.js")  /
