doctype html
html(lang='de')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Login
    link(rel='stylesheet', href='/css/styles.css')
  body
    header
      h2 Login
      nav_right
        a.back-btn(href='/') Return to home

    main
      .form-container
        h2 Welcome back!

        if error
          p.error-message= error

        form(action='/login', method='POST')
          .input-container
            label(for='username') Username:
            input#username.input-field(type='text', name='username', required)

          .input-container
            label(for='password') Password:
            input#password.input-field(
              type='password',
              name='password',
              required
            )

          .form-actions
            button.btn(type='submit') Login

        p.marginBottom Don't have an account yet?
          a.register-link(href='/register') Sign up here
