doctype html
html(lang='de')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Login
    link(rel='stylesheet', href='/css/styles.css')
  body
    header
      h2 Login
      navRight
        a.returnHomeButton(href='/') Return to home

    main
      .formContainer
        h2 Welcome back!

        if error
          p.errorMessage= error

        form(action='/login', method='POST')
          .inputContainer
            label(for='username') Username:
            input#username.inputField(type='text', name='username', required)

          .inputContainer
            label(for='password') Password:
            input#password.inputField(
              type='password',
              name='password',
              required
            )

          .formActions
            button.authentificationButton(type='submit') Login

        p.marginBottom.marginTopSmall Don't have an account yet?
          a.registerLink.marginLeftSmall(href='/register') Sign up here