doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      h2 Login
      nav_right
        a.returnHomeButton(href="/") Return to home

    main
      .formContainer
        h2 Welcome back!

        if error
          p.authentificationError= error

        form(action="/login", method="POST")
          .inputContainer
            label(for="username") Username:
            input(type="text", id="username", name="username", class="inputField", required)

          .inputContainer
            label(for="password") Password:
            input(type="password", id="password", name="password", class="inputField", required)

          .formSubmit
            button(type="submit", class="authentificationButton") Login

        p.marginBottom Don't have an account yet?
          a.registerLink.marginLeftSmall(href="/register") Sign up here

