div.popup(id="mediaPopup")
    div.popupContainer
        div(id="movieModal", style="display: none;")
        div.modal-content
            span.closeButton &times;
            .popupContent
                img.mediaImage(id="mediaImage", src="")
                .mediaInformation
                    .mediaGeneralInfo
                        button.bookmarkButton
                            img(src="/img/bookmark.png", alt="Bookmark")
                        h2(id="mediaTitle")
                    p(id="mediaDescription")
                    .mediaSpecificInfo
                        p(id="mediaGenre")
                        p(id="mediaRanking")
                        p(id="mediaDirector")
                        p(id="mediaReleased")
