#mediaPopup.popup
  .popup-body
    #movieModal(style='display: none')
    .modal-content
      span.close-btn &times;
      .popup-content
        img#media-image.media_image(src='')
        .media-information
          .media-header
            button.bookmarkButton
              img(src='/img/bookmark.png', alt='Bookmark')
            h2#media-title
          p#media-description
          .media-specific-info
            p#media-genre
            p#media-ranking
            p#media-director
            p#media-released
