#mediaPopup.popup
  .popupContainer
    .modalContent
      span.closeButton &times;
      .popupContent
        img#mediaImage.mediaImage(src='', alt='Media Cover')
        .mediaInformation
          .mediaGeneralInfo
            button.bookmarkButton
              img(src='/img/bookmark.png', alt='Bookmark')
            h2#mediaTitle
          p#mediaDescription
          .mediaSpecificInfo
            p#mediaGenre
            p#mediaRanking
            p#mediaDirector
            p#mediaReleased
