extends layout.pug

block content
  div.bodyContainer.marginLeftLarge
    each group in groupedMovies
        h4.whiteFontColor.marginTop= group.letter
        ul.mediaList
          each movie in group.movies
            li.movie-item(data-movie=JSON.stringify(movie))
              img.mediaCover(src=movie.image, alt=movie.title, onclick="showMovieDetails(event)")

  include modal.pug


  script(src="/js/movie.js")
  script(src="/js/serie.js")

