extends layout.pug

block content
  div.body_container.marginLeft
    each group in groupedMovies
        h4.whiteFontColor.marginTop= group.letter
        ul.media_list
          each movie in group.movies
            li
              img.media_cover(src=movie.image, alt=movie.title)
