doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Register
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      h2 Register!
      nav_right
        a.returnHomeButton(href="/") Return to home

    main
      .formContainer
        h2 Create a new account
        if errorMessage
          p.authentificationError(style="color: red;") #{errorMessage}
        form(action="/register", method="POST")
          .inputContainer
            label(for="firstName") Firstname:
            input(type="text", id="firstName", name="firstName", class="inputField", required)

          .inputContainer
            label(for="lastName") Lastname:
            input(type="text", id="lastName", name="lastName", class="inputField", required)

          .inputContainer
            label(for="gender") Gender:
            select(id="gender", name="gender", class="inputField", required)
              option(value="male") Male
              option(value="female") Female
              option(value="other") other

          .inputContainer
            label(for="email") E-Mail:
            input(type="email", id="email", name="email", class="inputField", required)

          .inputContainer
            label(for="username") Username:
            input(type="text", id="username", name="username", class="inputField", required)

          .inputContainer
            label(for="password") Password:
            input(type="password", id="password", name="password", class="inputField", required)

          .formSubmit
            button(type="submit", class="authentificationButton") Register

        p.marginBottom Already have an account?
          a.registerLink.marginLeftSmall(href="/login") Login here.
