extends layout.pug

block content
  .bodyContainer.marginLeftLarge
    each group in groupedSerie
      h4.whiteFontColor.marginTopLarge= group.letter
      ul.mediaList
        each serie in group.series
          li.seriesItem(data-serie=JSON.stringify(serie))
            img.mediaCover(
              src=serie.image,
              alt=serie.title
            )

  include modal.pug

  script(src='/scripts/media.js')