extends layout.pug

block content
  div.bodyContainer.marginLeftLarge
    each group in groupedSerie
        h4.whiteFontColor.marginTop= group.letter
        ul.mediaList
          each serie in group.series
            li(data-serie=JSON.stringify(serie))
              img.mediaCover(src=serie.image, alt=serie.title, onclick="showSerieDetails(event)")

  include modal.pug

  script(src="/js/serie.js")
