extends layout.pug

block content
    h2.whiteFontColor Deine Watchlist

    if watchlist && watchlist.length > 0
        ul
            each movie in watchlist
                li
                    h3= movie.title || "Filmdetails nicht gefunden"
                    if movie.image
                        img(src=movie.image, alt=movie.title)
                    if movie.description
                        p= movie.description
    else
        p Deine Watchlist ist leer.