extends layout.pug

block content
  .bodyContainer.marginLeftLarge
    h1.blueFontColor.marginTop Watchlist
    if movies.length > 0 || series.length > 0
      if movies.length > 0
        h3.whiteFontColor.marginTop Movies
        include movie.pug
      if series.length > 0
        h3.whiteFontColor.marginTop Series
        include serie.pug
    else
      p.whiteFontColor You have no movies or series in your watchlist yet.

  include modal.pug
